alias v="vim"
alias l="ls --color=auto"
# alias r="ssh user@hostname"
if command -v git &> /dev/null
then
  alias d="git diff"
fi
if command -v python &> /dev/null
then
  alias p="python"
fi
if command -v make &> /dev/null
then
  alias m="make"
fi
