[submodule "repos/autoscreen"]
	path = repos/autoscreen
	url = https://github.com/autochthe/autoscreen.git
[submodule "repos/to"]
	path = repos/to
	url = https://github.com/autochthe/to.git
[submodule "repos/seek"]
	path = repos/seek
	url = https://github.com/autochthe/seek.git
[submodule "repos/history"]
	path = repos/history
	url = https://github.com/autochthe/history.git
[submodule "repos/ssh-proxy"]
	path = repos/ssh-proxy
	url = https://github.com/autochthe/ssh-proxy.git
[submodule "repos/prompt"]
	path = repos/prompt
	url = https://github.com/autochthe/prompt.git
[submodule "repos/autotmux"]
	path = repos/autotmux
	url = https://github.com/autochthe/autotmux.git
