[submodule "repos/autoscreen"]
	path = repos/autoscreen
	url = https://github.com/autochthe/autoscreen.git
[submodule "repos/to"]
	path = repos/to
	url = https://github.com/autochthe/to.git
[submodule "repos/seek"]
	path = repos/seek
	url = https://github.com/autochthe/seek.git
[submodule "repos/history"]
	path = repos/history
	url = https://github.com/autochthe/history.git
